BODY {
	SCROLLBAR-FACE-COLOR: #cfcfcf; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #595959; SCROLLBAR-3DLIGHT-COLOR: #595959; SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-DARKSHADOW-COLOR: #ffffff; SCROLLBAR-BASE-COLOR: #cfcfcf
}
TD {
	FONT-SIZE: 9pt; COLOR: #2D2D2D; LINE-HEIGHT: 20px
}
A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A:active {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
    LEFT: 1px; COLOR: #FF0000; 
}
.input1{
FONT-SIZE: 9pt; HEIGHT: 20px;
border-style:solid;
border-width:1;
padding-left:4;
padding-right:4;
padding-top:1;
padding-bottom:1
}
.cnews {
	FONT-SIZE: 14px; LINE-HEIGHT: 22px
}
.title1 {
	FONT-SIZE: 12px; COLOR: #2D2D2D; FONT-STYLE: normal; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.bluefont {
	COLOR: #2D2D2D
}
.textstyle {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #999999 1px solid; COLOR: #000000; BORDER-BOTTOM: #999999 1px solid
}
.p9 {
	FONT-SIZE: 9pt
}
.box1 {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: ו
}
.p22 {
	FONT-SIZE: 14px; TEXT-INDENT: 22pt; LINE-HEIGHT: 22px
}
.Rolling90 {
	WRITING-MODE: tb-rl
}
UNKNOWN {
    HEIGHT: 1px
}
.p12 {
	FONT-SIZE: 14px; LINE-HEIGHT: 22px
}
